myFirstWebApplicationASP/Connected Services/ServiceReferencelatest/WebServicelatest.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getStudents">
        <s:complexType />
      </s:element>
      <s:element name="getStudentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getStudentsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="calculation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="calculationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="calculationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllFacultyData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="srtExpression" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="srtDirection" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllFacultyDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllFacultyDataResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="totalRecordCount">
        <s:complexType />
      </s:element>
      <s:element name="totalRecordCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="totalRecordCountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllSubjectData">
        <s:complexType />
      </s:element>
      <s:element name="getAllSubjectDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllSubjectDataResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="filterFacultyData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="facultyName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="exp" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="filterFacultyDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="filterFacultyDataResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getFacultyDataById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="facultyId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="subjectId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getFacultyDataByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getFacultyDataByIdResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertUpdateFacultyData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="facultyId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="facultyName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="experience" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="feePerLect" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="lectDate" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isTakenLect" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="subjectId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="subjectName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="editedSubjectId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertUpdateFacultyDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insertUpdateFacultyDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteFacultyData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="facultyId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="subjectID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteFacultyDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="deleteFacultyDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="getStudentsSoapIn">
    <wsdl:part name="parameters" element="tns:getStudents" />
  </wsdl:message>
  <wsdl:message name="getStudentsSoapOut">
    <wsdl:part name="parameters" element="tns:getStudentsResponse" />
  </wsdl:message>
  <wsdl:message name="calculationSoapIn">
    <wsdl:part name="parameters" element="tns:calculation" />
  </wsdl:message>
  <wsdl:message name="calculationSoapOut">
    <wsdl:part name="parameters" element="tns:calculationResponse" />
  </wsdl:message>
  <wsdl:message name="getAllFacultyDataSoapIn">
    <wsdl:part name="parameters" element="tns:getAllFacultyData" />
  </wsdl:message>
  <wsdl:message name="getAllFacultyDataSoapOut">
    <wsdl:part name="parameters" element="tns:getAllFacultyDataResponse" />
  </wsdl:message>
  <wsdl:message name="totalRecordCountSoapIn">
    <wsdl:part name="parameters" element="tns:totalRecordCount" />
  </wsdl:message>
  <wsdl:message name="totalRecordCountSoapOut">
    <wsdl:part name="parameters" element="tns:totalRecordCountResponse" />
  </wsdl:message>
  <wsdl:message name="getAllSubjectDataSoapIn">
    <wsdl:part name="parameters" element="tns:getAllSubjectData" />
  </wsdl:message>
  <wsdl:message name="getAllSubjectDataSoapOut">
    <wsdl:part name="parameters" element="tns:getAllSubjectDataResponse" />
  </wsdl:message>
  <wsdl:message name="filterFacultyDataSoapIn">
    <wsdl:part name="parameters" element="tns:filterFacultyData" />
  </wsdl:message>
  <wsdl:message name="filterFacultyDataSoapOut">
    <wsdl:part name="parameters" element="tns:filterFacultyDataResponse" />
  </wsdl:message>
  <wsdl:message name="getFacultyDataByIdSoapIn">
    <wsdl:part name="parameters" element="tns:getFacultyDataById" />
  </wsdl:message>
  <wsdl:message name="getFacultyDataByIdSoapOut">
    <wsdl:part name="parameters" element="tns:getFacultyDataByIdResponse" />
  </wsdl:message>
  <wsdl:message name="insertUpdateFacultyDataSoapIn">
    <wsdl:part name="parameters" element="tns:insertUpdateFacultyData" />
  </wsdl:message>
  <wsdl:message name="insertUpdateFacultyDataSoapOut">
    <wsdl:part name="parameters" element="tns:insertUpdateFacultyDataResponse" />
  </wsdl:message>
  <wsdl:message name="deleteFacultyDataSoapIn">
    <wsdl:part name="parameters" element="tns:deleteFacultyData" />
  </wsdl:message>
  <wsdl:message name="deleteFacultyDataSoapOut">
    <wsdl:part name="parameters" element="tns:deleteFacultyDataResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServicelatestSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getStudents">
      <wsdl:input message="tns:getStudentsSoapIn" />
      <wsdl:output message="tns:getStudentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="calculation">
      <wsdl:input message="tns:calculationSoapIn" />
      <wsdl:output message="tns:calculationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllFacultyData">
      <wsdl:input message="tns:getAllFacultyDataSoapIn" />
      <wsdl:output message="tns:getAllFacultyDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="totalRecordCount">
      <wsdl:input message="tns:totalRecordCountSoapIn" />
      <wsdl:output message="tns:totalRecordCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllSubjectData">
      <wsdl:input message="tns:getAllSubjectDataSoapIn" />
      <wsdl:output message="tns:getAllSubjectDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="filterFacultyData">
      <wsdl:input message="tns:filterFacultyDataSoapIn" />
      <wsdl:output message="tns:filterFacultyDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getFacultyDataById">
      <wsdl:input message="tns:getFacultyDataByIdSoapIn" />
      <wsdl:output message="tns:getFacultyDataByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertUpdateFacultyData">
      <wsdl:input message="tns:insertUpdateFacultyDataSoapIn" />
      <wsdl:output message="tns:insertUpdateFacultyDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteFacultyData">
      <wsdl:input message="tns:deleteFacultyDataSoapIn" />
      <wsdl:output message="tns:deleteFacultyDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServicelatestSoap" type="tns:WebServicelatestSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStudents">
      <soap:operation soapAction="http://tempuri.org/getStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calculation">
      <soap:operation soapAction="http://tempuri.org/calculation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllFacultyData">
      <soap:operation soapAction="http://tempuri.org/getAllFacultyData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="totalRecordCount">
      <soap:operation soapAction="http://tempuri.org/totalRecordCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllSubjectData">
      <soap:operation soapAction="http://tempuri.org/getAllSubjectData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="filterFacultyData">
      <soap:operation soapAction="http://tempuri.org/filterFacultyData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFacultyDataById">
      <soap:operation soapAction="http://tempuri.org/getFacultyDataById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertUpdateFacultyData">
      <soap:operation soapAction="http://tempuri.org/insertUpdateFacultyData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteFacultyData">
      <soap:operation soapAction="http://tempuri.org/deleteFacultyData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServicelatestSoap12" type="tns:WebServicelatestSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStudents">
      <soap12:operation soapAction="http://tempuri.org/getStudents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calculation">
      <soap12:operation soapAction="http://tempuri.org/calculation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllFacultyData">
      <soap12:operation soapAction="http://tempuri.org/getAllFacultyData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="totalRecordCount">
      <soap12:operation soapAction="http://tempuri.org/totalRecordCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllSubjectData">
      <soap12:operation soapAction="http://tempuri.org/getAllSubjectData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="filterFacultyData">
      <soap12:operation soapAction="http://tempuri.org/filterFacultyData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFacultyDataById">
      <soap12:operation soapAction="http://tempuri.org/getFacultyDataById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertUpdateFacultyData">
      <soap12:operation soapAction="http://tempuri.org/insertUpdateFacultyData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteFacultyData">
      <soap12:operation soapAction="http://tempuri.org/deleteFacultyData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServicelatest">
    <wsdl:port name="WebServicelatestSoap" binding="tns:WebServicelatestSoap">
      <soap:address location="http://localhost:52167/WebServicelatest.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServicelatestSoap12" binding="tns:WebServicelatestSoap12">
      <soap12:address location="http://localhost:52167/WebServicelatest.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>